<div class="column-wrapper l-app">
  <div class="column column-navbar">
    <%= render 'shared/navbar' %>
  </div>

  <div class="column column-collection">
    <div class="column-heading">Settings</div>

    <div class="list">
      <div class="settings-row-heading">Personal Settings</div>
      <div class="list-item">
        <%= render 'row', id: 'personal', title: 'Your Personal Information', subtitle: 'Name, Email, Avatar, Blankie Size' %>
      </div>

      <div class="settings-row-heading">Account Settings</div>

      <div class="list-item">
        <%= render 'row', title: 'Admin', subtitle: 'Company Settings etc.' %>
      </div>

      <div class="list-item">
        <%= render 'row', title: 'Payment', subtitle: 'Pay the bills, or else.' %>
      </div>
    </div>
  </div>

  <div class="column column-detail">
    <div class="settings-heading">
      <div class="summary">Personal Information</div>
      <div class="meta">This is the information that makes you unique inside.  Treasure your inner animal.</div>
    </div>

    <p>To try out Helpful website, run this command from your terminal:</p>

    <pre>
      <code>
        curl -X POST <%= root_url %>api/messages \
          --data "account=<%= @account.slug %>" \
          --data "email=user@example.com" \
          --data "content=I need help please."
      </code>
    </pre>


    <%= render 'account_details' %>

    <h2><%= t "devise.invitations.new.header" %></h2>

    <ul>
      <% @account.memberships.each do |membership| %>
        <li>
          <strong><%= membership.user.email %></strong> (<%= membership.role %>)
          <% if !membership.user.accepted_or_not_invited? %>
            <small class="bg-highlight">Invitation sent <%= time_ago_in_words(membership.user.invitation_sent_at) %> ago</small>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= form_for @user, :url => invitation_path(:user), :html => {:method => :post} do |f| %>

    <% User.invite_key_fields.each do |field| -%>
      <p><%= f.label field %><br />
      <%= f.text_field field %></p>
    <% end -%>
    <p>
      <%= select_tag :membership_role, options_for_select(Membership::ROLES) %>
    </p>

      <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
    <% end %>

  </div>
</div>


<script>
    $(document).ready(function(){


    });

</script>